<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
   <h3> <%= "this sentence is uppercase".toUpperCase(); %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione enim expedita consequuntur, minima rem illo natus tempora totam magni vero laudantium eos ut voluptatibus optio, eum maxime id quidem quia.</p>
    <button>Click Here!</button>
</body>
</html>